# yFinance

In [1]:
import os
from dotenv import load_dotenv
import yfinance as yf
import pandas as pd
load_dotenv('../.env');

ModuleNotFoundError: No module named 'alpha_vantage'

In [2]:
msft = yf.Ticker("AAPL")

In [5]:
# get historical market data
hist = msft.history()
hist.head(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-13 00:00:00-05:00,367.474145,367.723639,365.158837,365.937256,19986500,0.00,0.0
2023-11-14 00:00:00-05:00,370.258511,371.196609,366.605921,369.519989,27683900,0.00,0.0
2023-11-15 00:00:00-05:00,371.279999,373.130005,367.109985,369.670013,26860100,0.75,0.0
2023-11-16 00:00:00-05:00,370.959991,376.350006,370.179993,376.170013,27182300,0.00,0.0
2023-11-17 00:00:00-05:00,373.609985,374.369995,367.000000,369.850006,40157000,0.00,0.0

In [6]:
hist.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2023-11-13 00:00:00-05:00 to 2023-12-12 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          21 non-null     float64
 1   High          21 non-null     float64
 2   Low           21 non-null     float64
 3   Close         21 non-null     float64
 4   Volume        21 non-null     int64
 5   Dividends     21 non-null     float64
 6   Stock Splits  21 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 1.3 KB

In [7]:
SP500 = "^GSPC"  # S&P 500
# index_symbol = "^IXIC"  # NASDAQ Composite

# Fetch historical data for the market index
SPdata = yf.download(SP500, start="2010-01-01", end="2023-01-01")

[*********************100%%**********************]  1 of 1 completed

In [8]:
SPdata.head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,1132.989990,3991400000
2010-01-05,1132.660034,1136.630005,1129.660034,1136.520020,1136.520020,2491020000
2010-01-06,1135.709961,1139.189941,1133.949951,1137.140015,1137.140015,4972660000
2010-01-07,1136.270020,1142.459961,1131.319946,1141.689941,1141.689941,5270680000
2010-01-08,1140.520020,1145.390015,1136.219971,1144.979980,1144.979980,4389590000
2010-01-11,1145.959961,1149.739990,1142.020020,1146.979980,1146.979980,4255780000
2010-01-12,1143.810059,1143.810059,1131.770020,1136.219971,1136.219971,4716160000
2010-01-13,1137.310059,1148.400024,1133.180054,1145.680054,1145.680054,4170360000
2010-01-14,1145.680054,1150.410034,1143.800049,1148.459961,1148.459961,3915200000
2010-01-15,1147.719971,1147.770020,1131.390015,1136.030029,1136.030029,4758730000

In [9]:
SPdata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3272 entries, 2010-01-04 to 2022-12-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3272 non-null   float64
 1   High       3272 non-null   float64
 2   Low        3272 non-null   float64
 3   Close      3272 non-null   float64
 4   Adj Close  3272 non-null   float64
 5   Volume     3272 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 178.9 KB

In [17]:
import pandas_datareader as pdr
from alpha_vantage.timeseries import TimeSeries
import pandas as pd

# Manually create a list of S&P 500 tickers
sp500_tickers = [
    'AAPL', 'MSFT', 'GOOGL', 'AMZN', 'FB',  # ... add more tickers
]

# Replace 'YOUR_ALPHA_VANTAGE_API_KEY' with your actual API key
alpha_vantage_api_key = 'P9KR0U54ROOY3WJWY'
ts = TimeSeries(key=alpha_vantage_api_key, output_format='pandas')

# Specify the time period
start_date = '2022-01-01'
end_date = '2023-01-01'

# Create an empty DataFrame to store the data for all stocks
sp500_data = pd.DataFrame()

# Fetch historical data for each stock in the S&P 500
for ticker in sp500_tickers:
    try:
        data, meta_data = ts.get_daily(symbol=ticker, outputsize='full')
        
        # Check if the data is not empty before concatenating
        if not data.empty:
            sp500_data = pd.concat([sp500_data, data['4. close']], axis=1, keys=[ticker])
        else:
            print(f"No data available for {ticker}")
    except Exception as e:
        print(f"Failed to fetch data for {ticker}: {e}")

# Display the data
print(sp500_data.head())

/var/folders/mf/27g8bmj10ylbpz1wpw3grsfc0000gn/T/ipykernel_58580/4091712335.py:28: FutureWarning: The behavior of pd.concat with len(keys) != len(objs) is deprecated. In a future version this will raise instead of truncating to the smaller of the two sequences
  sp500_data = pd.concat([sp500_data, data['4. close']], axis=1, keys=[ticker])
/var/folders/mf/27g8bmj10ylbpz1wpw3grsfc0000gn/T/ipykernel_58580/4091712335.py:28: FutureWarning: The behavior of pd.concat with len(keys) != len(objs) is deprecated. In a future version this will raise instead of truncating to the smaller of the two sequences
  sp500_data = pd.concat([sp500_data, data['4. close']], axis=1, keys=[ticker])
/var/folders/mf/27g8bmj10ylbpz1wpw3grsfc0000gn/T/ipykernel_58580/4091712335.py:28: FutureWarning: The behavior of pd.concat with len(keys) != len(objs) is deprecated. In a future version this will raise instead of truncating to the smaller of the two sequences
  sp500_data = pd.concat([sp500_data, data['4. close']], axis=1, keys=[ticker])
/var/folders/mf/27g8bmj10ylbpz1wpw3grsfc0000gn/T/ipykernel_58580/4091712335.py:28: FutureWarning: The behavior of pd.concat with len(keys) != len(objs) is deprecated. In a future version this will raise instead of truncating to the smaller of the two sequences
  sp500_data = pd.concat([sp500_data, data['4. close']], axis=1, keys=[ticker])

Failed to fetch data for FB: Invalid API call. Please retry or visit the documentation (https://www.alphavantage.co/documentation/) for TIME_SERIES_DAILY.
Empty DataFrame
Columns: []
Index: []

In [5]:
sp500_data.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
# show meta information about the history (requires history() to be called first)
msft.history_metadata

# show actions (dividends, splits, capital gains)
msft.actions
msft.dividends
msft.splits
msft.capital_gains  # only for mutual funds & etfs

# show share count
msft.get_shares_full(start="2022-01-01", end=None)

# show financials:
# - income statement
msft.income_stmt
msft.quarterly_income_stmt
# - balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet
# - cash flow statement
msft.cashflow
msft.quarterly_cashflow
# see `Ticker.get_income_stmt()` for more options

# show holders
msft.major_holders
msft.institutional_holders
msft.mutualfund_holders

# Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default. 
# Note: If more are needed use msft.get_earnings_dates(limit=XX) with increased limit argument.
msft.earnings_dates

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

# show options expirations
msft.options

# show news
msft.news

# get option chain for specific expiration
#opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts