# yFinance

In [2]:
import os
from dotenv import load_dotenv
import yfinance as yf

# Load environment variables from the .env file
load_dotenv('../.env');

In [3]:
msft = yf.Ticker("MSFT")

In [5]:
# get historical market data
hist = msft.history(period="1mo")
hist.head(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-13 00:00:00-05:00,367.474145,367.723639,365.158837,365.937256,19986500,0.00,0.0
2023-11-14 00:00:00-05:00,370.258511,371.196609,366.605921,369.519989,27683900,0.00,0.0
2023-11-15 00:00:00-05:00,371.279999,373.130005,367.109985,369.670013,26860100,0.75,0.0
2023-11-16 00:00:00-05:00,370.959991,376.350006,370.179993,376.170013,27182300,0.00,0.0
2023-11-17 00:00:00-05:00,373.609985,374.369995,367.000000,369.850006,40157000,0.00,0.0

In [ ]:
# show meta information about the history (requires history() to be called first)
msft.history_metadata

# show actions (dividends, splits, capital gains)
msft.actions
msft.dividends
msft.splits
msft.capital_gains  # only for mutual funds & etfs

# show share count
msft.get_shares_full(start="2022-01-01", end=None)

# show financials:
# - income statement
msft.income_stmt
msft.quarterly_income_stmt
# - balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet
# - cash flow statement
msft.cashflow
msft.quarterly_cashflow
# see `Ticker.get_income_stmt()` for more options

# show holders
msft.major_holders
msft.institutional_holders
msft.mutualfund_holders

# Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default. 
# Note: If more are needed use msft.get_earnings_dates(limit=XX) with increased limit argument.
msft.earnings_dates

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

# show options expirations
msft.options

# show news
msft.news

# get option chain for specific expiration
#opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts