In [5]:
import streamlit as st
import datetime
import os
import yfinance as yf
import pickle
from helper import save_model, load_model
from ta import add_all_ta_features
cf = "AMZN" #"AAPL" 
period = 'max'

In [6]:
def load_data_from_yfinance(cf, period):
    data = yf.Ticker(cf).history(period=period)
    return data

def classify_prediction(prediction, threshold=0.52):
  return (prediction[:, 1] > threshold).astype(int)[0]

def get_model_for_prediction(cf):
    file = os.path.join("pages", "models", f"grid_model_{cf}.pickle")
    return load_model(file)

In [8]:
data = load_data_from_yfinance(cf, period)

if cf == 'AAPL':
    data = data.drop(columns=['Dividends','Stock Splits'])
    pickle_rick = get_model_for_prediction(cf)
    prediction = pickle_rick.predict_proba(data)
    st.write(prediction)
    st.write(classify_prediction(prediction))
else:
    data["momentum_stoch_signal"] = yf.
    data = data.drop(['Dividends','Stock Splits'])
    pickle_rick = get_model_for_prediction(cf)
    prediction = pickle_rick.predict_proba(data)
    st.write(prediction)
    st.write(classify_prediction(prediction))

In [15]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1997-05-15 00:00:00-04:00,0.121875,0.125000,0.096354,0.097917,1443120000,0.0,0.0
1997-05-16 00:00:00-04:00,0.098438,0.098958,0.085417,0.086458,294000000,0.0,0.0
1997-05-19 00:00:00-04:00,0.088021,0.088542,0.081250,0.085417,122136000,0.0,0.0
1997-05-20 00:00:00-04:00,0.086458,0.087500,0.081771,0.081771,109344000,0.0,0.0
1997-05-21 00:00:00-04:00,0.081771,0.082292,0.068750,0.071354,377064000,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-11 00:00:00-05:00,155.039993,157.169998,153.119995,155.179993,49072700,0.0,0.0
2024-01-12 00:00:00-05:00,155.389999,156.199997,154.009995,154.619995,40460300,0.0,0.0
2024-01-16 00:00:00-05:00,153.529999,154.990005,152.149994,153.160004,41384600,0.0,0.0
2024-01-17 00:00:00-05:00,151.490005,152.149994,149.910004,151.710007,34953400,0.0,0.0
2024-01-18 00:00:00-05:00,152.770004,153.779999,151.820007,153.500000,37804600,0.0,0.0